.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.no-padding {
    padding: 0;
}

.no-vertical-padding{
    padding-left: 0;
    padding-right: 0;
}

.no-horizontal-padding{
    padding-top: 0;
    padding-bottom: 0;
}

