//import variables
@import 'variables/variables';

//import common
@import 'common/common';
body {
    background: $blue !important;
    color: #fff;
}

main {
    padding: 1em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 50px;
    display: block;
}